In [3]:
import numpy as np
import pandas as pd

In [3]:
#DataFrame : 딕셔너리
area = pd.Series({'California': 423967, 'Texas' : 695662, 'New York': 141297, 'Florida' : 170312,
                 'Illinois' : 14995})
pop = pd.Series({'California': 38332521, 'Texas' : 26448193, 'New York': 19651127, 'Florida' : 19552860,
                 'Illinois' : 12882135})
data = pd.DataFrame({'area' : area, 'pop' : pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois     14995  12882135

In [4]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois       14995
Name: area, dtype: int64

In [5]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois       14995
Name: area, dtype: int64

In [6]:
data['density'] = data['pop']/data['area']

In [7]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois     14995  12882135  859.095365

In [9]:
#DataFrame : 2차원 배열 // DataFrame을 2차원 배열의 보강된 버전으로 볼 수 있다.
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49950000e+04, 1.28821350e+07, 8.59095365e+02]])

In [11]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499500e+04
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.590954e+02

In [12]:
#배열에 단일 인덱스를 전달하면 다음과 같이 행에 접근한다
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [13]:
#DataFrame에 단일'인덱스'를 전달하면 열에 접근한다.
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois       14995
Name: area, dtype: int64

In [14]:
#iloc 인덱서를 사용하면 DataFrame객체가 단순 Numpy배열인 것처럼(암묵적 파이썬 스타일의 인덱스 사용) 기반 배열을 인덱싱할 수 있지만, 
#DataFrame 인덱스와 열 레이블의 결과에 그대로 유지된다.
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [15]:
data.loc[:'New York', : 'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

NameError: name 'rng' is not defined