In [6]:
import numpy as np
import pandas as pd
## 안좋은 예
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]

In [7]:
index

[('California', 2000),
 ('California', 2010),
 ('New York', 2000),
 ('New York', 2010),
 ('Texas', 2000),
 ('Texas', 2010)]

In [8]:
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]
pop = pd.Series(populations, index = index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [9]:
#2010년 모든 값을 갖고 오기위해선
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [10]:
pop.index

Index([('California', 2000), ('California', 2010),   ('New York', 2000),
         ('New York', 2010),      ('Texas', 2000),      ('Texas', 2010)],
      dtype='object')

In [11]:
#Pandas의 MultiIndex
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [12]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [13]:
#인덱스가 2010인 모든 데이터에 접근하는법
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [14]:
#MultiIndex : 추가 차원
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [16]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [17]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [18]:
#MultiIndex를 활용한 예제 
#구체적으로 연도별 각 주의 인구통계 데이터를 별도의 열로 추가하고 싶을 때
pop_df = pd.DataFrame({
    "total" : pop,
    "under18": [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]
})
pop_df

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [19]:
f_u18 = pop_df['under18'] / pop_df['total']

In [20]:
f_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [21]:
#MultiIndex 생성 메서드
#다중 인덱스를 가진 Series나 DataFrame을 생성하는 가장 간단한 방식은 생성자에 2개이상의 인덱스 배열리스트를 전달하는 것이다.
df = pd.DataFrame(np.random.rand(4, 2), 
                 index = [['a','a','b','b'], [1,2,1,2]],
                 columns = ['data1', 'data2'])

In [22]:
df

        data1     data2
a 1  0.267647  0.574155
  2  0.884612  0.353688
b 1  0.933276  0.743570
  2  0.690357  0.016045

In [23]:
data = {('a', 1) : 11,
       ('a',2) : 22,
       ('b',1) : 33,
       ('b',2) : 44}
s1 = pd.Series(data)

In [24]:
s1.unstack()

    1   2
a  11  22
b  33  44

In [25]:
s1

a  1    11
   2    22
b  1    33
   2    44
dtype: int64

In [26]:
s1.index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [27]:
s1.index.names = ['test1', 'test2']

In [28]:
s1

test1  test2
a      1        11
       2        22
b      1        33
       2        44
dtype: int64

In [29]:
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [30]:
pop.index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [31]:
#여러 용어로 인덱싱해서 단일 요소에 접근할 수 있다.
pop['California', 2000]

33871648