In [1]:
import pandas as pd

In [2]:
row_data = {'col0' : [1, 2, 3, 4],
           'col1' : [10, 20, 30, 40],
           'col2' : [100, 200, 300, 400]}
data = pd.DataFrame(row_data)
print(data)

   col0  col1  col2
0     1    10   100
1     2    20   200
2     3    30   300
3     4    40   400

In [14]:
#DataFrame col0, col1, col2  를 사용하여 각 컬럼에 접근가능
data['col0']

0    1
1    2
2    3
3    4
Name: col0, dtype: int64

In [15]:
type(data['col0'])

pandas.core.series.Series

In [23]:
data_custom_index = pd.DataFrame(row_data, columns=["col0", "col1", "col2"], index=["A", "B", "C", "D"])

In [24]:
data_custom_index

   col0  col1  col2
A     1    10   100
B     2    20   200
C     3    30   300
D     4    40   400

In [37]:
data_custom_index["col0"]

A    1
B    2
C    3
D    4
Name: col0, dtype: int64

In [40]:
data_custom_index.loc["A"]

col0      1
col1     10
col2    100
Name: A, dtype: int64

In [41]:
data.iloc[0]

col0      1
col1     10
col2    100
Name: 0, dtype: int64